.body {
    
    margin: 0;
}

.flex__example1 {
    height: 60vh; 
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.container1 {
    border: 5px dotted coral;
    
    width: 100%;
    min-height: 100%;
    padding: 25px 0;
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;

}

.card {
    background-color: darkcyan;
    border: 5px solid black;
    border-radius: 15px;
    min-width: 320px;
    min-height: 40px;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-basis: 180px;
}

.card1 {
    background-color: darkcyan;
    border: 5px solid black;
    border-radius: 15px;
    min-width: 320px;
    min-height: 40px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-basis: 180px;
}


 






.card2{
background-color: blue;
    border: 5px solid black;
    
    min-width: 20px;
    min-height: 40px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    flex-basis: 70px;
}

.card6{
background-color: blue;
    border: 5px solid black;
    
    min-width: 20px;
    min-height: 40px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-self:flex-end;
    flex-basis: 70px;
}


.card3{
background-color: blue;
    border: 5px solid black;
    
    width: 20px;
    height: 40px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    flex-basis: 70px;
}

.cardone{
    background-color: darkcyan;
    border: 5px solid black;
    border-radius: 15px;
    min-width: 320px;
    min-height: 40px;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 180px;
}



.card4{
    background-color: yellow;
    border: 5px solid black;
    display: flex;
    width: 30px;
    height: 40px;
    margin: 3px;
    
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    flex-basis: 70px;
}

.cardtwo{
background-color: darkcyan;
    border: 5px solid black;
    border-radius: 15px;
    min-width: 320px;
    min-height: 40px;
    margin: 10px;
    display: flex;
    
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 70px;
}

.card51{
    background-color: blue;
    border: 5px solid black;
    
    width: 60px;
    min-height: 40px;
    margin: 2px;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    
    flex-basis: 70px;
}

.card52{
    background-color: blue;
    border: 5px solid black;
    
    width: 60px;
    min-height: 40px;
    margin: 2px;
    flex-grow: 2;
    flex-direction: row;
    justify-content: center;
    
    flex-basis: 70px;
}

.card53{
    background-color: blue;
    border: 5px solid black;
    
    width: 60px;
    min-height: 40px;
    margin: 2px;
    flex-grow: 3;
    flex-direction: row;
    justify-content: center;
    
    flex-basis: 70px;
}








